* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --brand-red: #ed2e5c;
    --brand-red-light: #fa8ba5;
    --brand-red-lighter: #fff8f8;
  
    --menu-expanded-background: #ffe1e8;
  
    --gray-paragraph: #777777;
  
    --nav-height: 7.6rem;
  
    font-size: 62.5%;
  }
  
  body {
    width: 100%;
    height: 100%;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  /* GERAL ============================================== */
  
  .wrapper {
    width: 37.5rem;
    padding-inline: 2.4rem;
  
    margin-inline: auto;
  }
  
  h3 {
    font-size: 2rem;
    color: var(--brand-red);
    margin-top: 2.4rem;
  }
  
  h4 {
    font-weight: 500;
    font-size: 2rem;
    color: var(--brand-red);
    margin-bottom: 3.6rem;
  }
  
  p {
    font-size: 1.4rem;
    color: var(--gray-paragraph);
    line-height: 150%;
  }
  
  section {
    margin-top: 10rem;
  }
  
  h1, h2, h3, h4 {
    cursor: default;
  }

  /* NAV ================================================== */
  
  nav {
    height: var(--nav-height);
  
    display: flex;
  
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav.scroll {
    background-color: white;
    border-bottom: 1px solid var(--brand-red);
    width: 100%;
  }
  
  nav button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  nav .menu,
  nav .close-menu {
    position: fixed;
  }
  
  /* MENU-EXPANDED ======================================== */
  
  .menu,
  .close-menu,
  body.menu-expanded .open-menu {
    visibility: hidden;
  }
  
  body.menu-expanded .menu,
  body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
  }
  
  body.menu-expanded {
    overflow: hidden;
  }
  
  body.menu-expanded .logo {
    position: relative;
    z-index: 100;
  }
  
  .menu {
    transform: translateX(100%);
  }
  
  body.menu-expanded .menu {
    display: flex;
    justify-content: center;
  
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--menu-expanded-background);
  
    width: 100vw;
    height: 100vh;
  
    transition: transform 0.3s;
  
    transform: translateX(0);
  }
  
  body.menu-expanded ul {
    margin-top: 15rem;
    gap: 5.4rem;
  }
  
  body.menu-expanded ul li {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--brand-red);
  }
  
  body.menu-expanded ul li a {
    color: var(--brand-red);
    text-decoration: none;
  }
  
  body.menu-expanded nav {
    position: relative;
  }
  
  body.menu-expanded .logo,
  body.menu-expanded button {
    position: relative;
    z-index: 100;
  }
  
  /* HEADER =============================================== */
  
  header {
    margin-top: calc(4.4rem + var(--nav-height));
    padding-inline: 2.4rem;
  }
  
  header h2 {
    font-size: 2.4rem;
    color: var(--brand-red);
    margin-bottom: 2.1rem;
  }

  header h4 {
      font-size: 1.8rem;
  }

  header p {
      margin-bottom: 5.5rem;
  }

  .profile-pic {
      width: 19.5rem;
      border: 2px solid var(--brand-red);
      border-radius: 11.2rem;
      box-shadow: 0 0 10px var(--brand-red);
      margin-bottom: 2rem;
  }

  .social {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: fit-content;
      gap: 3rem;
      margin-bottom: 2.6rem;
  }

  .social img {
      width: 2.5rem;
  }

  .projects {
      color: #ed2e5c;
      font-size: 1.4rem;
  }

  .projects a {
      text-decoration: none;
      color: #ed2e5c;

      transition: color ease .3s;
  }

  .projects a:hover {
    color: var(--brand-red-light);
  }
  
  /* RODAPÉ -============================================== */
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 33rem;
    width: 100%;
    
    
    background-color: var(--brand-red);
    margin-top: 5rem;
    justify-content: space-between;
}

.content {
    width: 37.5rem;
    padding: 2rem;
    height: 100%;
  
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
  
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-icon {
    margin-bottom: 2rem;
  }
  
  .footer a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .white-text {
    color: white;
    margin-top: 2rem;
  
    font-style: italic;
  }
  